@font-face {
    font-family:"vic";
    src: url("../fonts/vic.woff2") format("woff2"),url("../fonts/vic.woff") format("woff"),url("../fonts/vic.ttf") format("truetype");
}

body {
    font-family: "vic", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    text-align: center;
}

.col-container {
    padding: 2em;
}

p {
    margin: 0;
    padding: .1em;
    font-size: 25.5vw;
    leter-spacing: -3vw;
}

.slide {
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
}

.slide-inner {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#golden {
    background-color: #F7CE46;
}

#red {
    background-color: #EB3323;
}

#blue {
    background-color: #4FADEA;
}

#green {
    background-color: #50AD5B;
}

#orange {
    background-color: #EC712D;
}

#indigo {
    background-color: #4FADEA;
}

#violet {
    background-color: #4FADEA;
}

#pink {
    background-color: #4FADEA;
}

#purple {
    background-color: #4FADEA;
}

#aqua {
    background-color: #4FADEA;
}

#lime {
    background-color: #4FADEA;
}

#lemon {
    background-color: #4FADEA;
}

